.feature-details {
  position: relative;
}

.feature-section h2 {
  color: #ff8a00;
}

.sponsor-section {
  position: relative;
}

.utilites .button-3 {
  margin-right: 1rem !important;
}

.utilites img {
  width: 75%;
}

.amazing-feature-section {
  position: relative;
}

.timeline {
  position: relative;
}

.timeline-container {
  display: flex;
  justify-content: center;
}

.timeline-container .vertical-scrollable-timeline {
  width: 600px;
  list-style-type: none;
  position: relative;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 100%;
  background-color: #e803fc;
  position: absolute;
  left: 48px;
  top: 0;
  overflow: hidden;
}

.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #c5c3cb;
  width: 100%;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline .timeline-list {
  position: relative;
  padding: 20px 0px 80px 158px;
}

.timeline-container .vertical-scrollable-timeline .timeline-list:last-child {
  margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline .timeline-list a {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #fff;
}

.timeline-container .vertical-scrollable-timeline .timeline-list p {
  line-height: 1.5;
  color: #fff;
}

.timeline-container .vertical-scrollable-timeline .timeline-list p:last-child {
  margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline .timeline-list .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline .timeline-list .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline .timeline-list .icon-holder img {
  width: 72%;
  border-radius: 50%;
}

.timeline-container .vertical-scrollable-timeline .timeline-list::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 48px;
  z-index: 0;
}

.timeline-container .vertical-scrollable-timeline .timeline-list:last-child::before {
  width: 58px;
  left: 48px;
  background-color: black;
}

.timeline-container .vertical-scrollable-timeline .timeline-list.active .icon-holder {
  background-color: #e803fc;
}

.timeline-container .vertical-scrollable-timeline .timeline-list.active .icon-holder::before {
  background-color: #e803fc;
}

.header-body {
  position: relative;
}

.header-body .header-body-text {
  position: absolute;
  top: 30%;
  width: 100%;
  
}
.header-body .header-body-text div{
  width: 54rem;
  margin: 0 auto;
}

.header-body .header-body-text h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 3.5s steps(20, end),
    blink-caret .95s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

#google_translate_element {
  width: 100%;
  height: 44px;
  overflow: hidden;
}

.influencer-card {
  text-align: center;
  outline: 1px solid gray;
  outline-offset: -1px;
  position: relative;
  -webkit-clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  height: 100%;
}

.influencer-card::before {
  position: absolute;
  right: 1px;
  bottom: 1px;
  content: "";
  border-bottom: 20px solid #333;
  border-bottom: 20px solid gray;
  border-left: 20px solid transparent;
  z-index: 7;
  transition: all .2s;
}

.influencer-card::after {
  position: absolute;
  left: 1px;
  top: 1px;
  content: "";
  border-top: 20px solid #333;
  border-top: 20px solid gray;
  border-right: 20px solid transparent;
  z-index: 7;
  transition: all .2s;
}
.influencer-card .card_avatar{
  overflow: hidden;
  border-radius: 50%;
}
.influencer-card .text_h6{
  font-size: 16px;
  line-height: 1.375em;
}
.influencer-card .card_text p{
  color: rgba(255,255,255,.5);
  font-size: 12px;
  line-height: 18px;
  font-family: "ABC Diatype";
  margin-top: 5px;
}
ol.gradient-list {
  height: 20rem;
  overflow-y: auto;
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.gradient-list > .gradient-list-item {
  background: linear-gradient(to bottom right, rgba(0, 142,255,.5), rgba(128, 0, 128, .5));
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1.5rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}
ol.gradient-list > .gradient-list-item::before, ol.gradient-list > .gradient-list-item::after {
  background: linear-gradient(131deg, #eb00ff 0%, #5802e7 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.gradient-list > .gradient-list-item::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #1d1f20;
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(58, 12, 174, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 2, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 0, 245);
}

@media (max-width: 756px) {
  .utilites .cola-thumb {
    text-align: center;
    margin-bottom: 2rem !important;
  }

  .utilites img {
    width: 55%;
  }
}

@media (max-width: 498px) {
  .feature-details .feature-item .feature-thumb {
    margin: 0 auto 1.5rem;
  }

  .feature-details .feature-item .feature-content h4 {
    text-align: center;
  }
}